

.categories{
    width: 50%;
    margin: 30px 10%;
    margin-left: 30%;
    margin-top: 10%;
    border-radius: 10px;
    height: 60%;
    color: rgb(21, 108, 180);
    font-size: 50px;
    background-color: transparent;
    border: 3px solid rgb(113, 166, 236);
    z-index: 10;

    .choose-category {
        margin-left: 25%;
    }
    .radio-button {
        margin-left: 30%;
        margin-top: 10px;

        > input {
            margin-left: 20px;
            width: 20px;
            height: 20px;
            background-color: rgb(21, 108, 180);
        }
    }
    .next-button {
        width: 200px;
        margin-left: 76%;
        border-radius: 10px;
        height: 50px;
        color: rgb(21, 108, 180);
        font-size: 30px;
        background-color: transparent;
        border: 3px solid rgb(113, 166, 236);
        margin-top: 38%;
    }
}
.category-list {
    position: absolute;
    background-color: transparent;
    margin-left: 2%;
    margin-top: 2%;
}