.question-div {
    width: 50%;
    margin: 30px 10%;
    margin-left: 30%;
    margin-top: 8%;
    border: none;
    border-radius: 10px;
    height: 70%;
    color: rgb(21, 108, 180);
    font-size: 40px;
    background-color: transparent;
    border: 3px solid rgb(113, 166, 236);
    z-index: 10;

    .index {
        margin-bottom: 30px;
        margin-left: 20px;
    }

    .question-body {
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }

    .answers {
        width: 500px;
        margin-left: 230px;
        margin-top: 30px;
        border-radius: 10px;
        height: 70px;
        color: rgb(21, 108, 180);
        font-size: 20px;
        background-color: transparent;
        border: 3px solid rgb(113, 166, 236);
        text-align: center;
    }
}